* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.fa-square-envelope {
    margin-left: 60px;
    color: #008ffd;

}

.fa-clock {
    margin-left: 20px;
    color: #008ffd;

}

.fa-location-dot {
    margin-left: 20px;
    color: #008ffd;

}

.snow {
    margin-left: 950px;
    background-color: #008ffd;
    padding: 20px;
}

.op {
    font-size: 20px;
    background-color: #015599;
    padding: 20px;
    color: white;
}

.op a {
    color: white;
    text-decoration: none;
}

.dis {
    display: flex;
    text-decoration: none;
}

.jk a {
    text-decoration: none;
}
.jk a:hover{
    color: red;
}

.jk {
    margin-top: 60px;
}


.wom {
    margin-left: 550px;
    font-size: 25px;
    text-decoration: none;
}

.man {
    margin-left: 15px;
    font-size: 25px;
    text-decoration: none;
}

.fa-facebook-f {
    margin-left: 500px;
    font-size: 20px;
    padding: 5px;


}

.fa-twitter {
    font-size: 20px;
    padding: 5px;
}

.fa-linkedin {
    font-size: 20px;
    padding: 5px;

}

.fa-instagram {
    font-size: 20px;
    padding: 5px;
}

.cont {
    background-image: url(https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:800px;
    margin-top: 10px;
    overflow: hidden;
}
.cont h1{
    font-size: 50px;
    text-align: center;
    padding-top: 290px;
    color: white;
}
.cont p{
    text-align: center;
    color:white ;
    font-size: 20px;
}

.container {
    display: flex;
    padding: 5% 10%;
    background-color: #eff6ff;
    gap: 20px;
}


.team {
    width: calc(25% - 20px);
    height: 400px;
    background-color: white;
    padding: 10px;
    position: relative;
    border-radius: 50px 0px 50px 0px;

}

.content {
    display: none;

}


.team:hover .content {
    position: absolute;
    background-color: #e6eaef;
    color: white;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 20px;
    text-align: center;
    border-radius: 50px 0px 50px 0px;
    display: block;
}

.team {
    background-image: url(https://qph.cf2.quoracdn.net/main-qimg-903c9a2c0ce5a82777fc0c5c29d9162f.webp);
    background-repeat: no-repeat;
    background-size: cover;
   


}